<!DOCTYPE html>
<html lang="en">


<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>AI Research Assistant</title>


    <link rel="stylesheet" href="/static/dashboard.css">


</head>


<body>


    <div class="container">


        <!-- Hero -->


        <div class="hero">


            <h1>🤖 AI Research Assistant</h1>


            <h2>Multi-Agent AI Platform</h2>


            <p>
                Powered by
                <span>LangGraph</span> •
                <span>Groq</span> •
                <span>FAISS</span> •
                <span>DuckDuckGo</span> •
                <span>FastAPI</span>
            </p>


        </div>


        <!-- Cards -->


        <div class="cards">


            <div class="card">


                <div class="icon">
                    📄
                </div>


                <h2>Chat With PDF</h2>


                <p>
                    Upload your PDF and interact with it using
                    Retrieval-Augmented Generation (RAG).
                </p>


                <button onclick="openPDF()">
                    🚀 Launch PDF Assistant
                </button>


            </div>




            <div class="card">


                <div class="icon">
                    🌍
                </div>


                <h2>General AI Chat</h2>


                <p>
                    Ask any question using AI,
                    web search,
                    intelligent tools,
                    and LLM reasoning.
                </p>


                <button onclick="openGeneralChat()">
                    🚀 Launch AI Chat
                </button>


            </div>


        </div>


        <!-- Technologies -->


        <div class="technology">


            <h3>Technology Stack</h3>


            <div class="badges">


                <span>LangGraph</span>
                <span>Groq</span>
                <span>Ollama</span>
                <span>FAISS</span>
                <span>DuckDuckGo</span>
                <span>FastAPI</span>


            </div>


        </div>


        <!-- Footer -->


        <footer>


            Built with ❤️ using Agentic AI


        </footer>


    </div>


    <script src="/static/dashboard.js"></script>


</body>


</html>

